@{
    var clearLocalStorage = TempData["ClearLocalStorage"];
    if (clearLocalStorage != null && (bool)clearLocalStorage)
    {
        <script>
            localStorage.removeItem("entregasData");
        </script>
    }
}

@model ContadorHandy.Modelos.Pedido

<h2 class="text-center pb-4">Entrega Parcial de Pedido Número @Model.Numero</h2>

<div class="container-fluid d-flex justify-content-center align-items-center h-100">
    <div class="col-md-6 mb-4">
        <h5 class="text-center">Agregar Equipos a la Lista</h5>
        <form id="cantidadEquiposForm">
            <div class="form-group mb-3">
                <label>Serie</label>
                <input type="text" class="form-control form-control-sm" id="NumeroSerie" name="NumeroSerie" required>
            </div>
            <div class="form-group mb-3">
                <label>Part Number</label>
                <input type="text" class="form-control form-control-sm" id="NumeroParte" name="NumeroParte" required>
            </div>
            <div class="form-group mt-4">
                <div class="btn-group-toggle d-flex" data-toggle="buttons" style="width: 100%;">
                    <label class="btn btn-sm btn-outline-secondary flex-fill mx-1">
                        <input type="radio" name="Compania" value="Antel"> Antel
                    </label>
                    <label class="btn btn-sm btn-outline-secondary flex-fill mx-1">
                        <input type="radio" name="Compania" value="Movistar"> Movistar
                    </label>
                    <label class="btn btn-sm btn-outline-secondary flex-fill mx-1">
                        <input type="radio" name="Compania" value="Claro"> Claro
                    </label>
                    <label class="btn btn-sm btn-outline-secondary flex-fill mx-1">
                        <input type="radio" name="Compania" id="isETHSelected" value="ETH"> ETH
                    </label>
                </div>
            </div>
        </form>
    </div>
</div>

<table class="table text-center mt-4">
    <thead>
        <tr>
            <th>Serie</th>
            <th>Part Number</th>
            <th>Modelo</th>
            <th>Compañía</th>
            <th>Conexion</th>
            <th>Terminal ID</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody id="entregasTableBody">
    </tbody>
</table>

<div class="text-center pt-4 border border-dark">
    <div class="row m-0">
        <div class="col-md-3">
            <p class="">TOTAL: <span class="fw-bold" id="cantidadEquiposTotal">0</span></p>
        </div>
        <div class="col-md-2">
            <p class="">ANTEL: <span class="fw-bold" id="cantidadAntel">0</span></p>
        </div>
        <div class="col-md-2">
            <p class="">MOVISTAR: <span class="fw-bold" id="cantidadMovistar">0</span></p>
        </div>
        <div class="col-md-2">
            <p class="">CLARO: <span class="fw-bold" id="cantidadClaro">0</span></p>
        </div>
        <div class="col-md-2">
            <p class="">ETH: <span class="fw-bold" id="cantidadETH">0</span></p>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-md-3">
            <p class="">MOVE 2500 3G: <span class="fw-bold" id="cantidadMove25003G">0</span></p>
        </div>
        <div class="col-md-2">
            <p class="">MOVE 2500 3G/WIFI: <span class="fw-bold" id="cantidadMove25003GWIFI">0</span></p>
        </div>
        <div class="col-md-2">
            <p class="">MOVE 2500 ETH: <span class="fw-bold" id="cantidadMove2500ETH">0</span></p>
        </div>
        <div class="col-md-2">
            <p class="">MOVE 2500 FULL: <span class="fw-bold" id="cantidadMove2500FULL">0</span></p>
        </div>
        <div class="col-md-2">
            <p class="">MOVE 5000 3G: <span class="fw-bold" id="cantidadMove50003G">0</span></p>
        </div>
    </div>
</div>


<div class="row-md-6 pt-4">
    <h5 class="text-center">Procesar Entrega</h5>
    <form asp-controller="Pedido" asp-action="PartialDelivery" method="post" class="pt-3" novalidate>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="EntregadosAntel">Cantidad Equipos Antel:</label>
                    <input asp-for="EntregadosAntel" id="EntregadosAntel" class="form-control form-control-sm" type="number" disabled/>
                    <span asp-validation-for="EntregadosAntel" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="EntregadosMovistar">Cantidad Equipos Movistar:</label>
                    <input asp-for="EntregadosMovistar" id="EntregadosMovistar" class="form-control form-control-sm" type="number" disabled />
                    <span asp-validation-for="EntregadosMovistar" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="EntregadosClaro">Cantidad Equipos Claro:</label>
                    <input asp-for="EntregadosClaro" id="EntregadosClaro" class="form-control form-control-sm" type="number" disabled />
                    <span asp-validation-for="EntregadosClaro" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="EntregadosETH">Cantidad Equipos ETH:</label>
                    <input asp-for="EntregadosETH" id="EntregadosETH" class="form-control form-control-sm" type="number" disabled />
                    <span asp-validation-for="EntregadosETH" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="py-2 d-flex justify-content-center align-items-center betw">
            <button type="submit" id="vaciarTabla" class="btn btn-success mt-3 sin-bordes text-white">Procesar Entrega</button>
        </div>
    </form>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/partialDelivery.js"></script>




